- content_for :page_title do
  Dashboard

.row
  .col.s12
    .card
      .card-content
        %p
          Hello! Welcome to your Administration Side of your Website.
          %br
          This is where you as an admin can manage everything about your webiste. Create new Pages, add Alerts, and even add different style contents on your pages. Checkout
          = link_to "Documentation", docs_root_path
          for details on how to use the various features as well as what is required and what each feature can do.
  .col.s12.m6.l4
    .card
      .card-content.teal.white-text.center
        %p.card-title
          %i.material-icons format_quote
          Pending Testimonials
        %h4= @testimonials
  .col.s12.m6.l4
    .card
      .card-content.purple.white-text.center
        %p.card-title
          %i.material-icons add_alert
          Upcoming Alerts
        %h4= @alerts
  .col.s12.m6.l4
    .card
      .card-content.orange.white-text.center
        %p.card-title
          %i.material-icons desktop_windows
          Inactive Pages
        %h4= @pages
