- content_for :page_title do
  How To Use Alerts

.row
  .col.s12.m9.l10
    .card
      .card-content
        .section.scrollspy#overview
          %h4 Overview
          %p
            Alerts can be used to notify site viewing users of important things that are happening. You have the ability to define Date rages for when the alert is to be active for. The Alert stays visible on all front end viewable pages below the navbar. See Figure 1 below for example.

          %br/
          %small
            %b Figure 1:
          = image_tag "doc_images/Alert_Front_End_View.png", width: "100%"

        .section.scrollspy#listview
          %h4 List View
          %p
            The List View allows you to see all alerts created for now, from the past, or for the future. All columns are sortable by clicking on the column name. See Figure 2 below for example view and callouts for buttons to click.
            %ul.browser-default
              %li
                %b Green Square -
                Edit Button, shows for each row and allows you to navigate to edit screen for each alert.
              %li
                %b Red Square -
                Delete Button, shows for each row and allows you to delete for each alert.
              %li
                %b Blue Circle -
                Add Button, allows a user to navigate to the new alert screen.
              %li
                %b Purple Circle -
                Help Button, navigates to the documentation page for alerts.
            %br/
            %small
              %b Figure 2:
            = image_tag "doc_images/Alert_List_View.png", width: "100%"

        .section.scrollspy#newupdate
          %h4 New / Update Record
          %p
            New and Update allows you to create new alerts or update an already existing alert. a red astrick indicates the field is required before saving.
            Please see Figure 3 below for example view.

            %ul.browser-default
              %li
                %b Title -
                this field is used to show a breif description of the alert to the user. Visible after "NEWS:" as shown in Figure 1. This should be kept to short and simple.
              %li
                %b Name -
                this field is used for a brief name that youwish to call the alert like "Closed".
              %li
                %b Start Date -
                this field is used to indicate the date inwhich the alert should begin being present.
              %li
                %b End Date -
                this field is used to indicate the date inwhich the alert should stop being present.
              %li
                %b Active -
                this field is used in conjunction with the start and end date range to make the alert visible on the page. If start date is today and active is checked then the alert will appear.
              %li
                %b Content -
                this field is used to give more detailed instructions or information on the alert by presenting a read more button in the alert to open a modal as show in Figure 1. This is a Rich Text editor so you have free range to format the content how you see fit.
              %li
                %b Create/Update Alert -
                this button allows for the data to be saved back to the database so that your change can take affect.
            %small
              %b Figure 3:
            = image_tag "doc_images/Alert_New_Update_View.png", width: "100%"
        .section.scrollspy#recordview
          %h4 View a Record
          %p
            After clicking on the row from the table you will be able to see full details and everyfield in actual view from a user.

        .section.scrollspy#considerations
          %h4 Considerations
          %p
            Best recomendation is to only use one alert active at a time. If you need more, you should combine to one.

  .col.m3.l2.hide-on-small-only
    .toc-wrapper
      %ul.section.table-of-contents
        %li
          %a{ href: "#overview" } Overview
        %li
          %a{ href: "#listview" } List View
        %li
          %a{ href: "#newupdate" } New / Update Record
        %li
          %a{ href: "#recordview" } View a Record
        %li
          %a{ href: "#considerations" } Considerations
