- content_for :page_title do
  How To Use Contacts

.row
  .col.s12.m9.l10
    .card
      .card-content
        .section.scrollspy#overview
          %h4 Overview
          %p
            Contacts is driven by a check box on the page section and is used in conjunction with contact emails. See Figure 1 below for example.

          %br/
          %small
            %b Figure 1:
          = image_tag "doc_images/Contact_Front_End_View.png", width: "100%"

        .section.scrollspy#listview
          %h4 List View
          %p
            The List View allows you to see all contact emails. All columns are sortable by clicking on the column name. See Figure 2 below for example view and callouts for buttons to click.
            %ul.browser-default
              %li
                %b Green Square -
                Edit Button, shows for each row and allows you to navigate to edit screen for each contact email.
              %li
                %b Red Square -
                Delete Button, shows for each row and allows you to delete for each contact email.
              %li
                %b Blue Circle -
                Add Button, allows a user to navigate to the new contact email screen.
              %li
                %b Purple Circle -
                Help Button, navigates to the documentation page for contact emails.
            %br/
            %small
              %b Figure 2:
            = image_tag "doc_images/Contact_Email_List_View.png", width: "100%"

        .section.scrollspy#newupdate
          %h4 New / Update Record
          %p
            New and Update allows you to create new contact emails or update an already existing contact email. A red astrick indicates the field is required before saving.
            Please see Figure 3 below for example view.

            %ul.browser-default
              %li
                %b Title -
                this field is used to show the label you want the front end user to use.
              %li
                %b Email Address -
                this field is used to house the email address linked to the title.
              %li
                %b Parent Page -
                this field is used to indicate the page these contact emails are used.
              %li
                %b Order -
                this field is used to indicate the order inwhich the emails appear in the dropdown list.
              %li
                %b Active -
                this field is used to indicate if the email shows in the dropdown list.
              %li
                %b Create/Update Contact Email -
                this button allows for the data to be saved back to the database so that your change can take affect.
            %small
              %b Figure 3:
            = image_tag "doc_images/Contact_Email_New_Edit_View.png", width: "100%"
        .section.scrollspy#recordview
          %h4 View a Record
          %p
            After clicking on the row from the table you will be able to see full details and everyfield in actual view from a user.

  .col.m3.l2.hide-on-small-only
    .toc-wrapper
      %ul.section.table-of-contents
        %li
          %a{ href: "#overview" } Overview
        %li
          %a{ href: "#listview" } List View
        %li
          %a{ href: "#newupdate" } New / Update Record
        %li
          %a{ href: "#recordview" } View a Record
