$main-color: #7b808c;

dl {
  margin-bottom: .75em;

  dt {
    clear: left;
    color: $main-color;
    display: block;
    float: left;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: .0357em;
    margin-right: 2.35765%;
    margin-top: .75em;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    width: 14.70196%;
  }

  dd {
    display: block;
    float: left;
    margin-bottom: .75em;
    margin-left: 0;
    margin-right: 0;
    margin-top: .75em;
    width: 82.94039%;
  }
}
