$color-red: #f00;
$color-black: #000;

.main-form {
  .form-errors {
    background-color: $color-red;
    margin-bottom: 10px;
    padding: 15px;

    ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .isrequired::before {
    color: $color-red;
    content: '* ';
  }

  abbr {
    border-bottom: 0 !important;
    color: $color-red;
  }

  label {
    &.active::after {
      color: $color-black;
      content: attr(data-hint);
      opacity: 1;
    }
  }
}
