.page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.help-text {
  font-size: 12px;
  height: 1px;
}

.ckeditor-input {
  label {
    font-size: .8rem;
    height: 25px;
    line-height: 25px;
  }
}

.truncate {
  width: 250px;
}

.page-tab {
  margin-bottom: 0 !important;
}

.icon {
  vertical-align: sub;
}

.main-view {
  .grid {
    line-height: 35px;
  }

  .label {
    font-size: 18px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    font-size: 1.25em !important;
  }
}

@media only screen and (max-width: 375px) {
  .brand-logo {
    font-size: 1em !important;
  }
}
