.page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.help-text {
  font-size: 12px;
  height: 1px;
}

.ckeditor-input {
  label {
    font-size: .8rem;
    height: 25px;
    line-height: 25px;
  }
}

.truncate {
  width: 250px;
}

.page-tab {
  margin-bottom: 0 !important;
}

.grid {
  line-height: 35px;
}

.icon {
  vertical-align: sub;
}

.main-view {
  .label {
    font-size: 18px;
    font-weight: 500;
  }
}
