body {
  &.registrations,
  &.sessions,
  &.passwords {
    background: asset-url('devise_page_wallpaper.png') no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;

    .card-panel {
      left: 50%;
      margin: 0;
      padding: 10px;
      position: absolute;
      top: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 450px;
    }

    .login-form {
      padding-right: 20px;
      width: 425px;

      .errors {
        padding: 5px 10px;
      }

      .login-logo {
        height: 100px;
        width: 100px;
      }

      .login-text {
        font-size: .8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .margin {
        margin: 0 !important;
      }

      .medium-small {
        font-size: .9rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}
