- content_for :page_title do
  Documentation

.row
  .col.s12
    .card.light-blue
      .card-content
        %p
          Hello, and welcome to the documentation Page.
          %br
          Here you will find all the How to Use Articles needed to build out your site.
          Each article talks about the limitations, how to use in site, and required data points.
          Also will include screen shots to help visibility. Each Feature will have a quick link to get to the How To Article for quick reference.
